#include<{{kheaders_include}}>

struct {{shield_name}}_t {
        // write down here your custom struct vars 
        u32 pid;
};

BPF_PERF_OUTPUT(events);

int {{shield_name}}_observer(struct pt_regs *ctx, struct {{kstrct}} *kstrct)
{
        struct {{shield_name}}_t data = {};
        
        data.pid = bpf_get_current_pid_tgid();

        //bpf_probe_read_kernel_str(data.path, sizeof(data.path), kstrct->something);

        events.perf_submit(ctx, &data, sizeof(data));

        return 0;
}

