# this is the configuration file related with Caetra's USB Shield
# add here all the user configurable parameters to tune the
# behaviour of the shield, e.g. if will de-authorize a device or not

# Name of the Caetra Shield and generic config values
[{{shield_name}}]

# if this shield is enable (if false will override the main config)
enable = {{shield_enable}} 

description = "{{shield_description}}"

notification = {{shield_notification}} 

[usb.kprobe]

de_authorize_dev = false
